<!DOCTYPE html>
<html>
<head>
	<title>Pokemon App</title>
</head>
<body>
	<h1><%= heading %></h1>
	<br>
	<h3>Name: </h3>
	<br>
	<h5><%=thePoke.name%></h5>
	<br>
	<h3>Type: </h3>
	<br>
	<h5><%=thePoke.type%></h5>
	<br>
	<h3>HP: </h3>
	<br>
	<h5><%=thePoke.stats.hp%></h5>
	<br>
	<h3>Picture: </h3>
	<br>
	<img src="<%=thePoke.img%>">


</body>
</html>